ion-header{
    ion-toolbar{
        ion-buttons{
            ion-icon{
                padding: 5px;
                color: #01A355;
                font-size: 1.5rem;
            }
        }
      ion-label{
        font-size: 1.5rem;
        text-align: center;
        text-transform:uppercase ;
      }
    }
  }


  ion-content {

    .btn1{
        margin-top: 10px;
      }
    
      .btn2{
        margin-top: 25px;
      }
    
      .cadastro {
        margin-top:30px;
        text-align: center;
        text-decoration: underline;
      }
  }