<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons>
      <ion-icon [routerLink]="['/cadastro']" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-label color="success">TERMOS E CONDIÇÕES</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  <ion-card>

    <ion-card-content>
      <ion-label>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing nec fermentum libero ac. Convallis nam sit
        feugiat orci justo at malesuada laoreet metus. Adipiscing id laoreet faucibus pulvinar. Feugiat orci, pharetra
        faucibus ut hac eget convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing nec fermentum
        libero ac. Convallis nam sit feugiat orci justo at malesuada laoreet metus. Adipiscing id laoreet faucibus
        pulvinar. Feugiat orci, pharetra faucibus ut hac eget convallis.
      </ion-label>
    </ion-card-content>
  </ion-card>

  <div class="btn1">
    <ion-button color="success" [routerLink]="['/perfil']" expand="block">CONCLUIR</ion-button>
  </div>
</ion-content>