<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-label class="ion-text-wrap" color="success">
      Ʃ MoneyTilt
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cab">
    <ion-label> A melhor plataforma de cotação de
      <br> moedas em tempo real!
    </ion-label>
  </div>

  <div class="ion-padding">

    <div class="btn1">
      <ion-button color="success" [routerLink]="['/sobre']" expand="block">QUEM SOMOS</ion-button>
    </div>

    <div class="btn2">
      <ion-button color="success" [routerLink]="['/login']" expand="block">LOGIN</ion-button>
    </div>

  </div>

  <div class="cadastro">
    <ion-label [routerLink]="['/cadastro']">Não possui conta?
      <br> Cadastre-se
    </ion-label>
  </div>

  <div class="sem-login">
    <ion-label [routerLink]="['/termos']">Continuar sem login</ion-label>
  </div>


  <div class="ion-text-center footer">
    <ion-label>
      Aqui você pode conferir em tempo real a <br>
      cotação das moedas mais valorizadas no <br>
      mundo!
    </ion-label>
  </div>




</ion-content>